*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
}

.clock{
    width: 500px;
    height: 500px;
    position: relative;
    background-color: lightgray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.number{
    transform: rotate(calc(30deg*var(--n)));
    position: absolute;
    text-align: center;
    inset: 20px;
    font-size: 40px;

}
.number b{
    transform: rotate(calc(-30deg * var(--n)));
    display: inline-block;

}
.center_dot{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: gray;
    border-radius: 50%;
}
.hour_hand, .minute_hand, .second_hand{
    --rotate:0;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%) rotate(calc(var(--rotate)*1deg))
}
.hour_hand{
    width: 12px;
    height: 130px;
    background-color: black;

}
.minute_hand{
    width: 12px;
    height: 130px;
    background-color: blue;
}
.second_hand{
    width:6px;
    height: 210px;
    background-color: red;
    
}